 

/********************************************************** MIXINS */
.accented, a.accented {
  color: #C84;
}
.accented:hover {
  color: orange;
}
.clear {
  clear: both;
  content: "";
}
.page {
  display:block;
  background:#FFF;
  color:#000;
  padding:10px;
  clear:both;
  margin-top:5px;
}

/********************************************************** RESET, GLOBALS, CUSTOMS, & Misc. */

body, html {
}

a,
a:visited {
  text-decoration: none;
  color: #222;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
::selection {
  background: #C84;
  color: #000;
}
a:hover {
  text-decoration:none;
}

a.current {
  background:rgba(240,238,138,.6);
}

img {
  width:100%;
}

#main {
  border: 5px solid rgba(88,182,215,.5);
  -webkit-transition: all 0.9s;
  -moz-transition: all 0.9s;
  -o-transition: all 0.9s;
  transition: all 0.9s;
}

#wrapper {
  padding:20px;
  padding-bottom:0px;
  position:relative;
}
@media (max-width:1000px) {
  #wrapper {
    padding:5px;
  }
}
@media (max-width:700px) {
  #wrapper {
    padding:5px;
  }
}


/********************************************************** Header Bar */

#banner {
  margin-bottom:20px;
  position:relative;
}
#banner #logo {
  width:300px;
}
#banner span {
  font-size:24px;
  font-weight:bold;
  position:absolute;
  top:0px;
  right:10px;
}
#banner .title {
  font-family: 'Adamina', serif;
  font-size:84px;
  font-weight:bold;
  color:#58b6d7;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 
               0 1px 0 #000, 0 -2px 0 #000, 
               2px 2px #000, -2px -2px 0 #000, 
               2px -2px 0 #000, -2px 2px 0 #000;
  position:absolute;
  right:20px;
  bottom:60px;
}
#banner .subtitle {
  font-family: 'Adamina', serif;
  font-size:32px;
  font-weight:bold;
  color:#58b6d7;
  text-shadow: 1px 0 0 #000, -1px 0 0 #000, 
               0 1px 0 #000, 0 -1px 0 #000, 
               1px 1px #000, -1px -1px 0 #000, 
               1px -1px 0 #000, -1px 1px 0 #000;
  position:absolute;
  right:75px;
  bottom:0px;
}
.logotext {
  font-family: Times, Garamond, serif;
  line-height: 1em;
  color: #000;
  text-align:right;
  font-size: 28px;
}

.phone {
  font-family: Times, Garamond, serif;
  line-height: 1em;
  color: #333;
  font-weight:bold;
  text-align:right;
  font-size: 28px;
}

.nav {
  display:inline-block;
  margin-bottom:0;
  padding-bottom:0;
}
.nav a {
    -webkit-transition: all 0.9s;
    -moz-transition: all 0.9s;
    -o-transition: all 0.9s;
    transition: all 0.9s;
    padding:10px;
    background:#FFF;
    display:inline-block;
    border:1px solid gray;
}
.nav a.current {
    background:#CCC;
}
.nav a:hover {
    background:#000;
    color:#FFF;
}
#navlogo {
  display:none;
  text-align:right;
  width:100%;
  margin-left:10px;
}
#navlogo img {
  height:30px;
  width:200px;
  display:inline;
  clear:none;
  -webkit-transition: all 0.9s;
  -moz-transition: all 0.9s;
  -o-transition: all 0.9s;
  transition: all 0.9s;
}
#navlogo span {
  font-size:16px;
  font-weight:bold;
  position:absolute;
  right:10px;
  top:5px;
}
.headliner {
  padding:5px;
  width:100%;
  z-index:80;
  position:absolute;
  background:rgb(88,182,215);
  display:block;
  border-top-right-radius: 40px;
}

#top_logo {
    display:none;
    top:0;
    right:0;
    z-index:100;
    width:100px;
    background:rgb(88,182,215);
    overflow:hidden;
    padding:5px;
    border-bottom-left-radius: 20%;
    -webkit-transition: all 0.9s;
    -moz-transition: all 0.9s;
    -o-transition: all 0.9s;
    transition: all 0.9s;
}
#top_logo img {
    width:100%;
    display:inline-block;
}

@media (max-width: 600px) {
    #top_logo {
        width:75px;
    }
    .headliner {
      padding:5px;
    }
    .nav a {
      padding:5px 10px;
    }
    .logotext, .slogan {
      display:none;
    }
}

@media (max-width: 450px) {
    #top_logo {
        width:50px;
    }
}

/********************************************************** Side Bar */

.sidebar {
  float:left;
  margin:0;
  margin-top:5px;
  display:inline-block;
}


/********************************************************** Home Page  */
#appdemo { 
  width:90%;
  display:inline-block;
  padding:10px;
}
.headline {
  text-align:center;
  text-transform: uppercase;
}
#home div {
  display:inline-block;
}

/********************************************************** About Page  */

#about img {
  width:50%;
  display:inline-block;
}

/********************************************************** Contact Form  */
#contact_form {
  width:90%;
}
#contact_form input {
  padding: 5px;
  margin-bottom:10px;
  display:block;
  width:100%;
  -webkit-transition: all 0.9s;
  -moz-transition: all 0.9s;
  -o-transition: all 0.9s;
  transition: all 0.9s;
}
#contact_form textarea {
  padding:5px;
  height: 150px; 
  width: 100%; 
  margin-bottom:10px;
  display:block;
  resize: none;
}
#contact_main {
  width:90%;
  margin-right:auto;
  margin-left:auto;
}

/********************************************************** Footer  */
#footer {
  padding:10px;
  clear:both;
}